on: [push, pull_request]
name: Clippy
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
           toolchain: stable
           components: rustfmt, clippy
           override: true
      - name: Clippy
        run: |
          cargo clippy -- -D warnings
          cd sulis_editor
          cargo clippy -- -D warnings
